Source: hsn2-norm-url
Section: java
Priority: optional
Maintainer: CERT Polska <info@cert.pl>
Build-Depends: debhelper (>= 8.0.0), maven
Standards-Version: 3.9.3

Package: hsn2-norm-url
Architecture: all
Depends: ${misc:Depends}, java-wrappers, openjdk-7-jre, jsvc
Homepage: http://www.honeyspider.net
Description: HSN2 URL Normalization Service
 Service to normalize URLs into a single canonical form.